.product-order-view {
    margin: 5px 10px 5px 50px;
    display: flex;
    flex-wrap: wrap;

    .order-right-panel {

        .order-summary {
            list-style: none;

            li {
                margin: 15px 0px;
            }

            label {
                font-size: 16px;
                font-weight: bold;
                font-style: italic;
            }

            .product-name {
                color: #1161ee;
            }

            .product-counter {
                display: flex;
                align-items: baseline;

                .counter-wrapper {
                    margin-left: 15px;
                }

                .counter-button {
                    height: 30px;
                    width: 40px;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 2px solid #1161ee;
                    color: #1161ee;

                    &:hover {
                        background: #598de6;
                        color: #fff;
                        font-weight: bold;
                        border: 2px solid #fff;
                    }
                }

                .counter-label {
                    height: 30px;
                    width: 40px;
                    height: 30px;
                    width: 40px;
                    display: inline-flex;
                    justify-content: center;
                }
            }
        }
    }

    .buy-now {
        cursor: pointer;
        background: #1161ee;
        padding: 10px 50px;
        border-radius: 5px;
        font-size: 16px;
        margin: 30px;

        &:hover {
            background: #598de6;
            color: #fff;
            font-weight: bold;
        }
    }
}