.header-view {
    margin: 0 10px;

    .header {
        padding: 10px 0px;
        background: #1161ee;
        color: #fff;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 20px; */
        flex-wrap: wrap;
    }

    .left-menu {
        list-style: none;
    }

    .right-menu {
        list-style: none;
        display: flex;
        justify-content: end;
        margin: 0px 15px;

        li {
            margin-left: 10px;
        }
    }

    .middle-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .header-logo {
            height: 90px;
        }

        .menu-container {
            label {
                margin: 5px;
                cursor: pointer;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .menu-container {
           display: flex;
            width: -webkit-fill-available;
            justify-content: flex-end;

            label {
                margin: 5px;
                cursor: pointer;
            }
        }
    }

    .bottom-header {
        .bottom-menu {
            list-style: none;
            display: flex;

            li {
                margin-right: 40px;
                cursor: pointer;
                font-weight: bold;
                color: #000;

                &:hover {
                    color: #1161ee;
                }
            }

            .non-active-menu {
                color: #000;
                border-bottom: 2px solid #fff;
                padding: 0px 5px;
            }

            .active-menu {
                border-bottom: 2px solid blue;
                padding: 0px 5px;
            }
        }
    }
}

.table-like-list {
    list-style: none;
    padding: 0px;
    margin: 15px;
    border: 1px solid #ccc;
}

.table-header,
.table-row {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;

    &:nth-child(odd) {
        background: #baf19e;
    }

    &:nth-child(even) {
        background: #f2f2f2;
    }
}

.table-header {
    font-weight: bold;
    background: #f0f0f0;

    &:nth-child(odd) {
        background: #5b66e0;
        color: #fff;
    }
}

.table-row:last-child {
    border-bottom: none;
}

.table-row div,
.table-header div {
    flex: 1;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 2px;
}